NODE_ENV=development
PORT=3500

SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_email
SMTP_PASS=your_password
EMAIL_FROM_NAME= Service Check
EMAIL_FROM_ADDRESS= lucky@hashcodex.com

RABBITMQ_URL=amqp://lucky:123456@localhost:5672
RABBITMQ_QUEUE=email_queue
NOTIFICATION_QUEUE=notification_queue

MONGO_URI=mongodb://127.0.0.1:27017/notification_db

LOG_LEVEL=info